RewriteEngine On

RewriteRule ^trangchu$ index.php?action=HomeFrontController
RewriteRule ^([A-Za-z]+)$ index.php?action=FrontendController&act=$1

RewriteRule ^luat-viet-an$ index.php?action=FrontendController&act=gioithieu
RewriteRule ^luat-su-va-cac-cong-su$ index.php?action=FrontendController&act=gioithieu
RewriteRule ^so-huu-tri-tue$ index.php?action=FrontendController&act=sohuutritue
RewriteRule ^tu-van-doanh-nghiep$ index.php?action=FrontendController&act=doanhnghiep

RewriteRule ^chinh-sach-bao-mat-thong-tin$ index.php?action=FrontendController&act=gioithieu_chinhsachbaomatthongtin
RewriteRule ^thuong-hieu-luat-viet-an$ index.php?action=FrontendController&act=gioithieu_thuonghieuluatvietan
RewriteRule ^cong-ty-luat-tai-viet-nam$ index.php?action=FrontendController&act=gioithieu_congtyluattaivietnam
RewriteRule ^tuyen-dung$ index.php?action=FrontendController&act=gioithieu_tuyendung
RewriteRule ^lien-he$ index.php?action=FrontendController&act=gioithieu_lienhe


RewriteRule ^tu-van-thanh-lap-cong-ty-doanh-nghiep$ index.php?action=FrontendController&act=doanhnghiep_thanhlapcongtydoanhnghiep
RewriteRule ^thay-doi-dang-ky-kinh-doanh$ index.php?action=FrontendController&act=doanhnghiep_thaydoidangkykinhdoanh
RewriteRule ^thanh-lap-chi-nhanh-cong-ty$ index.php?action=FrontendController&act=doanhnghiep_thanhlapchinhanhcongty
RewriteRule ^thu-tuc-chuyen-doi-loai-hinh-doanh-nghiep$ index.php?action=FrontendController&act=doanhnghiep_thutucchuyendoiloaihinhdoanhnghiep
RewriteRule ^danh-gia-cua-co-quan-quan-ly$ index.php?action=FrontendController&act=gioithieu_danhgiacuacoquanquanly

RewriteRule ^dang-ky-sang-che$ index.php?action=FrontendController&act=sohuutritue_dangkisangche
RewriteRule ^tu-van-dang-ky-nhan-hieu$ index.php?action=FrontendController&act=sohuutritue_tuvandangkynhanhieu
RewriteRule ^qua-trinh-dang-ky-nhan-hieu$ index.php?action=FrontendController&act=sohuutritue_trinhtudangkynhanhieu
RewriteRule ^thu-tuc-dang-ky-chi-dan-dia-ly$ index.php?action=FrontendController&act=sohuutritue_dangkychidandialy
RewriteRule ^kieu-dang-cong-nghiep$ index.php?action=FrontendController&act=sohuutritue_kieudangcongnghiep
RewriteRule ^quyen-tac-gia-quyen-lien-quan$ index.php?action=FrontendController&act=sohuutritue_baohoquyentacgia





RewriteRule ^tu-van-doanh-nghiep-page([0-9]+)$ index.php?action=FrontendController&act=doanhnghiep&page=$1
RewriteRule ^so-huu-tri-tue-page([0-9]+)$ index.php?action=FrontendController&act=sohuutritue&page=$1
RewriteRule ^tu-van-dau-tu-page([0-9]+)$ index.php?action=FrontendController&act=dautu&page=$1
RewriteRule ^tu-van-giay-phep-page([0-9]+)$ index.php?action=FrontendController&act=giayphep&page=$1
RewriteRule ^tu-van-phap-luat-thue-page([0-9]+)$ index.php?action=FrontendController&act=ketoan-thue&page=$1
RewriteRule ^tu-van-thanh-lap-cong-ty-doanh-nghiep-page([0-9]+)$ index.php?action=FrontendController&act=doanhnghiep_thanhlapcongtydoanhnghiep&page=$1
RewriteRule ^thay-doi-dang-ky-kinh-doanh-page([0-9]+)$ index.php?action=FrontendController&act=doanhnghiep_thaydoidangkykinhdoanh&page=$1
RewriteRule ^cong-ty-luat-tai-viet-nam-page([0-9]+)$ index.php?action=FrontendController&act=gioithieu_congtyluattaivietnam&page=$1
RewriteRule ^tu-van-dang-ky-nhan-hieu-page([0-9]+)$ index.php?action=FrontendController&act=sohuutritue_tuvandangkynhanhieu&page=$1
RewriteRule ^giai-quyet-tranh-chap-page([0-9]+)$ index.php?action=FrontendController&act=vuviecvuan&page=$1


RewriteRule ^tu-van-dau-tu$ index.php?action=FrontendController&act=dautu
RewriteRule ^tu-van-giay-phep$ index.php?action=FrontendController&act=giayphep
RewriteRule ^giai-quyet-tranh-chap$ index.php?action=FrontendController&act=vuviecvuan
RewriteRule ^tu-van-phap-luat-thue$ index.php?action=FrontendController&act=ketoan-thue






